body{  
    background-color: lightgray;
    margin: auto;  
    font-family: Arial, Helvetica, sans-serif;
}

img{
    width: 100%;
}
.header{
   display: flex;
   margin: auto;
   background-color: white;
}

h1{
    padding-left: 450px;
}

/* photo and box */
.post-box{
    display: flex;
    flex-direction: column; 
    width: 600px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 3px;
}

.comment1{
    display: flex;
}

.comment1 #myfirst-p{
    width: 100%;
}

#add-comment{
    padding: 5px;
}
